<?xml version="1.0" encoding="utf-8"?>
<!-- 
IMPORTANTE: 
Embora não existam referências a webservices diretamente a partir deste projeto, os endpoints aqui contidos devem ser mantidos e a manutenção deve ser feita à mão.
Sempre que uma nova referência for incluída na dll WebserviceClients, o respectivo endpoint deve ser incluído à mão aqui.
O app.config do projeto WebserviceClients não é utilizado pela aplicação.
-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GerenteRural.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EnfsSoap11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="EnfsSoap11Binding1" />
        <binding name="NfsePortSoap11Soap11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="81920" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="WS - NFS-e V1.0.0.1Soap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="81920" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="NfseServiceImplDoresServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="81920" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="ServicosPortSoap11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="81920" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="IAdministracaoService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="67108864" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IComprasService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IFinanceiroService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="671088640" maxBufferPoolSize="67108864" maxReceivedMessageSize="671088640" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="3276800" maxArrayLength="3276800" maxBytesPerRead="3276800" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IEstoquesService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="671088640" maxBufferPoolSize="671088640" maxReceivedMessageSize="671088640" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IAutenticacaoService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IFinanceiroService2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="655360" maxBytesPerRead="327680" maxNameTableCharCount="655360" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IPlanejamentoAgricolaService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="655360" maxBytesPerRead="327680" maxNameTableCharCount="655360" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IPlanejamentoAgricolaService2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="655360" maxBytesPerRead="327680" maxNameTableCharCount="655360" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IFerramentasService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="655360" maxBytesPerRead="327680" maxNameTableCharCount="655360" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IControleAgricolaService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="655360" maxBytesPerRead="327680" maxNameTableCharCount="655360" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IContabilidadeGerencialService2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IContabilidadeGerencialService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IIRPFService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IImobilizadoService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IVendasService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IRacaoService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IEstoquesService2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IFinanceiroService3" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="655360" maxBytesPerRead="327680" maxNameTableCharCount="655360" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IServicosService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="671088640" maxBufferPoolSize="67108864" maxReceivedMessageSize="671088640" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IServicosService2" maxBufferSize="671088640" maxBufferPoolSize="67108864" maxReceivedMessageSize="671088640">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
        </binding>
        <binding name="IIntegracaoService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="671088640" maxBufferPoolSize="67108864" maxReceivedMessageSize="671088640" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IGraosService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IFrotaService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IPecuariaService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="327680" maxArrayLength="3276800" maxBytesPerRead="327680" maxNameTableCharCount="3276800" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="EnfsSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!-- 
      Endereços dos ambientes piloto e de produção do webservice da Prefeitura de Curitiba
      Piloto: https://pilotoisscuritiba.curitiba.pr.gov.br/nfse_ws/nfsews.asmx
      Produção 1: https://isscuritiba.curitiba.pr.gov.br/Iss.NfseWebService/nfsews.asmx 
      Produção 2: https://srv2-isscuritiba.curitiba.pr.gov.br/Iss.NfseWebService/nfsews.asmx"
      -->
      <!-- 
      Endereço do webservice da Prefeitura de Contenda
      Produção: https://contenda.oxy.elotech.com.br/iss-ws/nfseService 
      -->
      <endpoint address="https://srv2-isscuritiba.curitiba.pr.gov.br/Iss.NfseWebService/nfsews.asmx" binding="basicHttpBinding" bindingConfiguration="WS - NFS-e V1.0.0.1Soap" contract="NFSeCuritiba.WSNFSeV1001Soap" name="WS - NFS-e V1.0.0.1Soap" />
      <endpoint address="https://contenda.oxy.elotech.com.br/iss-ws/nfseService" binding="basicHttpBinding" bindingConfiguration="NfsePortSoap11Soap11" contract="NFSeContenda.NfsePortSoap11" name="NfsePortSoap11Soap11_NfsePortSoap11" />
      <endpoint address="https://ws.nfe-cidades.com.br/ws/dores" binding="basicHttpBinding" bindingConfiguration="NfseServiceImplDoresServiceSoapBinding" contract="NFSeDoresDoIndaia.nfse" name="nfseDoresPort" />
      <endpoint address="https://campobom-gif4homol.infisc.com.br/services/nfse/ws/Servicos" binding="basicHttpBinding" bindingConfiguration="ServicosPortSoap11" contract="NFSeCampoBom.ServicosPort" name="ServicosPortSoap11" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/AutenticacaoService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IAutenticacaoService" contract="AutenticacaoService.IAutenticacaoService" name="IAutenticacaoService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/FerramentasService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IFerramentasService" contract="FerramentasService.IFerramentasService" name="IFerramentasService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/ControleAgricolaService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IControleAgricolaService" contract="ControleAgricolaService.IControleAgricolaService" name="IControleAgricolaService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/FinanceiroService2/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IFinanceiroService2" contract="FinanceiroService2.IFinanceiroService2" name="IFinanceiroService2" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/ContabilidadeGerencialService2/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IContabilidadeGerencialService2" contract="ContabilidadeGerencialService2.IContabilidadeGerencialService2" name="IContabilidadeGerencialService2" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/IRPFService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IIRPFService" contract="IRPFService.IIRPFService" name="IIRPFService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/PlanejamentoAgricolaService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IPlanejamentoAgricolaService" contract="PlanejamentoAgricolaService.IPlanejamentoAgricolaService" name="IPlanejamentoAgricolaService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/PlanejamentoAgricolaService2/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IPlanejamentoAgricolaService2" contract="PlanejamentoAgricolaService2.IPlanejamentoAgricolaService2" name="IPlanejamentoAgricolaService2" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/ImobilizadoService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IImobilizadoService" contract="ImobilizadoService.IImobilizadoService" name="IImobilizadoService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/VendasService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IVendasService" contract="VendasService.IVendasService" name="IVendasService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/EstoquesService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IEstoquesService" contract="EstoquesService.IEstoquesService" name="IEstoquesService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/RacaoService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IRacaoService" contract="RacaoService.IRacaoService" name="IRacaoService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/EstoquesService2/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IEstoquesService2" contract="EstoquesService2.IEstoquesService2" name="IEstoquesService2" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/ContabilidadeGerencialService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IContabilidadeGerencialService" contract="ContabilidadeGerencialService.IContabilidadeGerencialService" name="IContabilidadeGerencialService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/FinanceiroService3/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IFinanceiroService3" contract="FinanceiroService3.IFinanceiroService3" name="IFinanceiroService3" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/AdministracaoService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IAdministracaoService" contract="AdministracaoService.IAdministracaoService" name="IAdministracaoService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/GraosService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IGraosService" contract="GraosService.IGraosService" name="IGraosService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/FrotaService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IFrotaService" contract="FrotaService.IFrotaService" name="IFrotaService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/FinanceiroService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IFinanceiroService" contract="FinanceiroService.IFinanceiroService" name="IFinanceiroService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/ComprasService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IComprasService" contract="ComprasService.IComprasService" name="IComprasService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/ServicosService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IServicosService" contract="ServicosService.IServicosService" name="IServicosService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/ServicosService2/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IServicosService2" contract="ServicosService2.IServicosService2" name="IServicosService2" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/IntegracaoService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IIntegracaoService" contract="IntegracaoService.IIntegracaoService" name="IIntegracaoService" />
      <endpoint address="http://localhost:8731/GerenteRuralDataServices/PecuariaService/" behaviorConfiguration="GerenteRuralDataServices.ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="IPecuariaService" contract="PecuariaService.IPecuariaService" name="IPecuariaService" />
      <endpoint address="https://www.esnfs.com.br:8444/enfsws/services/Enfs.EnfsHttpsSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="EnfsSoap11Binding" contract="Enfs.EnfsPortType" name="EnfsHttpsSoap11Endpoint" />
      <endpoint address="https://www.esnfs.com.br:8444/enfsws/services/Enfs.EnfsHttpsSoap12Endpoint/" binding="customBinding" bindingConfiguration="EnfsSoap12Binding" contract="Enfs.EnfsPortType" name="EnfsHttpsSoap12Endpoint" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GerenteRuralDataServices.ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <userSettings>
    <GerenteRural.Properties.Settings>
      <setting name="LastAccessDate" serializeAs="String">
        <value>18/11/2010</value>
      </setting>
    </GerenteRural.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CefSharp" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-91.1.210.0" newVersion="91.1.210.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CefSharp.Core" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-91.1.210.0" newVersion="91.1.210.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
